<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/css/main.css">
    
</head>
<body class="body">
    <header class="main-header">
        <nav class = "mail-header_nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a class="active" href="/catelog">Product Catelog</a></li>
                <li class="main-header__item"><a href="/product">Add Product</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {{#if hasProduct}}
        <div class="grid">
            {{#each prods}}
                <article class="card product-item">
                    <div class="card__header">
                        <h1 class="product__title">{{this.title}}</h1>
                    </div>
                    <div class="card__image">
                        <img src="{{this.url}}" alt="{{this.title}}">
                    </div>
                    <div class="card__content">
                        <h2 class="product__price">{{this.cost}}</h2>
                        <p class="product.description">{{this.description}}</p>
                    </div>
                    <div class="card__action">
                        <button class="btn" type="submit">Add To Cart</button>      
                    </div>
                </article>
            {{/each}}
        </div> 
        {{ else }}
           <h1>No Product found</h1>
        {{/if}} 
            
    </main>
</body>
</html>